<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quote Page</title>
</head>
<style>
    button{
    width: 150px;
    height: 100px;
    margin: -20px -50px;
    position:relative;
    top:50%;
    left:40%;
    padding:0;
    margin:0;
}
</style>
<body>
    <div>
    <button value="Refresh Page" onClick="window.location.href='{{ url_for('quote')}}'" name = "Random Quote">
        Random Quote
    </button>
    <button onClick="window.location.href='{{ url_for('list_quotes')}}'">
        List Names
    </button>

    </div>
    <div>
    {% if name != None and message != None %}
      <h1 style="text-align:center;">{{ name }}: {{ message }}</h1>
    {% else %}
      <h1 style="text-align:center;">No Name/ No Message!</h1>
    {% endif %}
    </div>
</body>
</html>